    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container px-5 text-center">
            <p class="m-0 text-center text-white"><b>Curso Python</b> - Primera entrega intermedia CoderHouse.</p>
            <a target="_blank" href="https://www.linkedin.com/school/coderhouse/"><i class="m-2 bi bi-linkedin" style = 'font-size: 2rem'></i></a>
            <a target="_blank" href="https://www.instagram.com/coderhouse/?hl=es"><i class="m-2 bi bi-instagram" style = 'font-size: 2rem'></i></a>
            <a target="_blank" href="https://www.facebook.com/Coderhouse/"><i class="m-2 bi bi-facebook" style = 'font-size: 2rem'></i></a>
        </div>
    </footer>